[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
scrapy = "*"
click = "*"

[requires]
python_version = "3.6"

[scripts]
controle="python3 run.py"
